[Unit]
Description=Initialize NetworkManager Hotspot profile
After=network-online.target NetworkManager-wait-online.service
Wants=network-online.target NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hotspot-init

[Install]
WantedBy=multi-user.target
